body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  color: $baseColor;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

p,
a {
  letter-spacing: 1px;
}

.wrapper {
  margin: 0 auto;
  @media screen and (min-width: 1600px) {
    max-width: 1600px;
  }
  @media (min-width: 768px) and (max-width: 1200px) {
    max-width: 960px;
  }
}
