.content {
  &--list {
    list-style: none;
    li:before {
      content: "\2022";
      color: $baseColor;
      font-size: 28px;
      vertical-align: middle;
    }
  }
  &--text {
    margin-bottom: 12px;
    font-size: 20px;
  }
}
.homepage {
  .content {
    &--list {
      text-align: center;
      li:before {
        content: "";
      }
    }
    &--text {
      text-align: center;
    }
  }
}
